<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <h1>Клиенты</h1>
    <a href="/clients/new">Добавить нового клиента</a>
    <form action="/clients/search" method="get">
        <input type="text" name="keyword" placeholder="Поиск по имени, паспорту или телефону...">
        <button type="submit">Поиск</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Полное имя</th>
            <th>Паспорт</th>
            <th>Телефон</th>
            <th>Адрес проживания</th>
            <th>Рейтинг кредитной истории</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clients}">
            <td th:text="${client.id}"></td>
            <td th:text="${client.fullName}"></td>
            <td th:text="${client.passport}"></td>
            <td th:text="${client.phone}"></td>
            <td th:text="${client.residentialAddress}"></td>
            <td th:text="${client.creditHistoryRating}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>